# Environment
.env

# Local data
data/

# Temp files
imp.txt

# Logs
*.log

# Build
target/

# IDE
.idea/
.vscode/

uploads

# Local Terraform Directories and State files
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl