# Environment
.env

# Local data
data/

# Temp files
imp.txt

# Logs
*.log

# Build
target/

# IDE
.idea/
.vscode/

uploads
/infrastructure/k8s-local/env-configmap.yaml
# Local Terraform Directories and State files
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hclinfrastructure/k8s-local/minikube-linux-amd64
